---
layout: default
---

<div class="section-container p-2 p-xl-4">
    <div class="row m-0">
        <h4 class="fs-6 fw-bolder my-3 mt-2 mb-4">མཉེན་ཆས་གཞན།<a class="float-end text-primary text-decoration-underline" href="{{site.baseurl}}/other-application.html"><small class="fs-8">View All</small></a></h4>
        <!-- start of other application loop-->
        {% for post in site.posts limit:8 %}
        {% if post.category contains 'other-application' %}
        <div class="col-md-4 mb-3">
            <div class="app-cover p-2 shadow-md bg-white">
                <a href="{{post.url}}">
                    <div class="row">
                        <div class="img-cover pe-0 col-3"> 
                            <img class="rounded" src="{{site.baseurl}}{{post.thumbnail}}" alt="">
                        </div>
                        <div class="det mt-2 col-9">
                            <h5 class="mb-0 fs-6">{{post.title}}</h5>
                            <span class="fs-8">Application</span>
                            <ul class="row">
                                <li class="col-8 ratfac">
                                    <b>{{post.rating}} <i class="bi text-warning bi-star-fill"></i></b>
                                </li>
                                <li class="col-4"><span class="text-success float-end">Free</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    <!-- end of other application loop-->
    <div class="row mt-2">
        <h4 class="fs-6 fw-bolder my-3 mt-2 mb-4">མཉེན་ཆས་གཞན།<a class="float-end text-primary text-decoration-underline" href="{{site.baseurl}}/other-application.html"><small class="fs-8">View All</small></a></h4>
        <!-- start of security application loop-->
        {% for post in site.posts limit:13 %}
        {% if post.category contains 'security-application' %}
        <div class="col-md-2 mb-3 col-6">
            <a href="{{post.url}}">
                <div class="app-cover p-2 shadow-md bg-white">
                    <div class="img-cover"> <img class="rounded" src="{{site.baseurl}}{{post.thumbnail}}" alt=""></div>
                    <div class="det mt-2">
                        <h5 class="mb-1 fs-6">{{post.title}}</h5>
                        <ul class="row">
                            <li class="col-8 ratfac">
                            <b>{{post.rating}} <i class="bi text-warning bi-star-fill"></i></b>
                            </li>
                            <li class="col-4"><span class="text-success float-end">Free</span></li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        {% endif%}
        {% endfor %}

        <!-- end of security application loop-->
    </div>
</div>

{% include footer.html%}
